body {
    display:flex;
    margin: 0rem;
    font-size: 15px;
    font-family: Roboto, Arial, sans-serif;
    color: rgb(71, 71, 71);
}

*{
    /* border: 1px solid black; */
    padding: 0;
}
.leftnav{
    width: 15rem;
    background-color: rgb(236, 236, 236);
    height: 100vh;
}
.leftnav > *{
    border-bottom: solid;
    border-bottom-color: lightgrey;
}
.leftnav ul{
    list-style-type: none;
}

.leftnav li{
    display: flex;
    align-items: center;
}
.leftnav span{
    margin-left: 2rem;
}

.leftnav svg{
    margin-left: 1rem;
}

.bestof li{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}
.bestof i{
    margin-left: 1rem;
}
.leftnav span{
    margin-left: 2rem;
}
.leftnav h3{
    padding-left: 1rem;
}
.bigtext h4{
    margin-left: 1rem;
}
.bigtext p{
    margin-left: 1rem;
}
.moreinfo li{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    margin-left: 1rem;
}
.footer p{
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
    margin-left: 1rem;
}